.banner{
    border: 1px solid;
    width: 768px;
    margin:auto;
    background-image: url("img/geo.png");
    background-repeat: no-repeat;
    background-position-x: 110%;
    background-position-y: 37%;
    background-size: 370px;
}

nav .logo{
    width: 160px;
    height: 100px;
    
}
nav .nav_links{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-left: 45px;
}
nav .nav_links li{
    display: inline-block;

}
nav .nav_links li a{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 44px 7px;
    font-size:17px;
    text-transform: uppercase;
    color: black;
}
nav .nav_links li a:hover{
    color: rgb(224, 16, 162);
}

.banner_content .left{
    
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-top: 50px;
}
.banner_content .left h5, h3{
    font-weight: 400;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 22px;
    margin: 0;
}
.banner_content .left h1{
    font-weight:600;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 27px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 20px;
}
.banner_content .left h3{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.banner_content .left a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 3px;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    background: rgb(57,139,181);
    background: linear-gradient(90deg, rgba(57,139,181,1) 35%, rgba(232,96,195,1) 100%);
}
.banner_content .right{
    display: inline-block;
    width: 49%;
    text-align: center;
}
.banner_content .right img{
    margin: 84px -90px 0px 0px;

}
.count{
    
    margin-top: 50px;
}
.count .counter{
    box-shadow: 0 0 10px black;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 15px 25px;
    background-color: rgb(241, 241, 241);
    margin: 0px 10px;
    font-family: sans-serif;
}
.count .counter h4{
    background: #121FCF;
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    margin: 0;
}

.about{
    border: 1px solid;
    width: 768px;
    margin:auto;
    background-image: url("img/geo1.png");
    background-repeat: no-repeat;
    background-position-x: -106%;
    background-position-y: 30%;
    background-size: 580px;
    margin-top: 20px;
}
.about .aboutleft{
    
    display: inline-block;
    width: 48%;
    text-align: center;
}
.about .aboutleft img{
    margin: 95px 183px 0px 0px;
    width: 185px;
}
.about .aboutright{
    
    display: inline-block;
    width: 50%;
    text-align: justify;
    vertical-align: top;
    padding: 50px 2px;
}
.about .aboutright h4{
    font-weight: 400;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
}
.about .aboutright h1{
    font-weight:600;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 27px;
    margin: 0;
    text-transform: uppercase;
    margin-top: 20px;
}
.about .aboutright p{
    font-family: sans-serif;
}
.about .aboutright a{
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    border-radius: 3px;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    background: rgb(57,139,181);
    background: linear-gradient(90deg, rgba(57,139,181,1) 35%, rgba(232,96,195,1) 100%);
    text-transform: uppercase;
}

.service{
    border: 1px solid red;
    width: 768px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 30px;
}
.service .top{
    font-family: 'Sedgwick Ave', cursive;
    padding: 30px 0px;
}
.service .top h4,
.service .top h1{
    margin: 0;
    padding: 0;
    font-size:15px;
    font-weight: 400;
    text-transform: uppercase;
}
.service .top h1{
    font-weight:600;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 27px;
    width: 260px;
    margin: 0;
    margin-top: 20px;
}

.service .bottom .content{
    display: inline-block;
    width:32%;
    margin: 0px 3.7px;
    text-align: center;
    font-family: sans-serif;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    
}
.service .bottom .content i{
    font-size: 50px;
    margin-bottom: 20px;
}
.service .bottom .content h1{
    font-size: 23px;
}
.service .bottom .content p{
    font-size: 16px;
    text-align: justify;
}
.service .bottom .content a{
    text-decoration: none;
    font-size: 14px;
    color:darkslategrey;
    text-transform: uppercase;
}
hr{
    width: 50px;
    margin-left: 60px;
    height: 3px;
    background: rgb(57,139,181);
    background: linear-gradient(90deg, rgba(57,139,181,1) 35%, rgba(232,96,195,1) 100%);
}
